{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Invalid password reset link</title>
    <link rel="stylesheet" href="{% static 'password_reset_invalid.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;7700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="main-container">
        <div class="formbox">
            <h1>Invalid password reset link</h1>
            <p>The password reset link is invalid or has expired. Please try requesting a new password reset.</p>
            <button onclick="location.href='{% url 'forget_password' %}'">Request new password reset</button>
        </div>
    </div>
</body>
</html>